.ingredients {
  display: grid;
  width: 516px;
  grid-template-columns: 120px repeat(3, 112px);
  gap: 20px;
  justify-items: center;
  text-align: center;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  width: 640px;
}

.card {
  max-width: 640px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.card_fullScrin {
  width: 100vw;
  height: calc(100vh - 88px);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}