.ingredients {
  display: grid;
  width: 516px;
  grid-template-columns: 120px repeat(3, 112px);
  gap: 20px;
  justify-items: center;
  text-align: center;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  width: 640px;
}